*{
    padding: 0px;
    margin: 0px;
}

.caro-div{
   margin: auto;
   margin-top: 20px;
   text-align: center;
   border: 1px solid black;
  
}
#img-style {
    width: 10%;
    height: 10%;
}

#menu-style{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 8px;
}
.nav-item a:hover{
background-color: rgb(230, 164, 78);
display: block;
}

.whr-go{
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    border: 2px solid black;
    }

.place-det{
    
    margin: auto;
    text-align: center;
    margin-top: 20px;
    /* border: 1px  solid white; */

}
.back-img{
    background-image: url("/images/bck.png");
    background-size: cover;   
}
footer{
    /* justify-content: center;
    padding: 5px;
    background-color: beige;
    text-align: center; */
    margin-top: 10px;
    }

    /* Login form Style */
#login-lnk{
    padding: 10px;
}

.login-ctrl{
    margin: auto;
    margin-top: 80px;
    border: 2px solid red;
    width: 400px;
    padding: 40px;
}

#font-stl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#lbl-styl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
}

#txt-styl{
    width: 90%;
    height: 35px;

}
#btn-stl{

    border: 1px solid orange;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
}
/* Login form Style */

/*  Signup here */
.signup-ctrl{
    margin-top: 20px;
    width: 600px;
    background-color: beige;
    padding: 50px;
    border: 1px solid orange;
}

#sutxt-styl
{
    width: 95%;
    height: 35px;
    
}
/* /Sign up here */

