*{
    padding: 0px;
    margin: 0px;
}

.caro-div{
   margin: auto;
   margin-top: 9px;
   text-align: center;
   /* border: 1px solid black; */
  
}
#img-style {
    width: 10%;
    height: 10%;
}

#menu-style{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 8px;
}
.nav-item a:hover{
background-color: rgb(230, 164, 78);
display: block;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

.active-tabs {
    background-color: aqua;
    text-decoration-color: red;
}

.whr-go{
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    border: 2px solid black;
    }

.place-det{
    
    margin: auto;
    text-align: center;
    margin-top: 20px;
    /* border: 1px  solid rgb(255, 255, 255); */

}
.back-img{
    /* background-image: url("/images/bck.png"); */
    background-color: rgb(205, 248, 237);
    background-size: cover;   
}
footer{
    /* justify-content: center;
    padding: 5px;
    background-color: beige;
    text-align: center; */
    margin-top: 10px;
    }

    /* Login form Style */
#login-lnk{
    padding: 10px;
}

.login-ctrl{
    margin: auto;
    margin-top: 80px;
    border: 2px solid red;
    background-color: beige;
    width: 400px;
    padding: 40px;
}

#font-stl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#lbl-styl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
}

#txt-styl{
    width: 90%;
    height: 35px;

}
#txt-stylpw{
    width: 90%;
    height: 35px;

}
#btn-stl{

    border: 1px solid orange;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    }
/* Login form Style */

/*  Signup here */
.signup-ctrl{
    margin-top: 20px;
    width: 600px;
    background-color: beige;
    padding: 50px;
    border: 1px solid orange;
}

.sutxt-styl
{
    width: 95%;
    height: 35px;
    
}

.createPassword
{
    font-size: larger;
    color: rgb(255, 255, 255);
}
.reqField
{
    color: red;
    font-size: 25px;
}
/* /Sign up here */

/* kollam */
.place-det-klm{
    margin: auto;
    text-align: center;
    margin-top: 10px;
    /* border: 1px  solid rgb(142, 8, 8); */
}
.place-det-klm img{
    width: 100%;
    height: 100%;
}
/* /kollam */

/* Reach Kerala */
.size-div{
    margin: auto;
    margin-top: 10px;
    width: 80%;
}
.size-div h2{
    text-align: center;
}
/* Reach Kerala */